*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

main{
  height: calc(100vh - 170px);
  overflow: auto;
}

.menu{
  position: relative;
  height: 80px;
  background-color: black;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 4px;
  top: 4px;
}

.button1,.button2{
  height: 26px;
  padding: 5px;
  border-radius: 3px;
  background-color: #43464A;
  color: white;
}

.button2{
  margin-left: 5px;
}


footer{
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #222222;
}

.end{ 
  padding: 45px;
  color: red;
  font-weight: 600;
  background-color: #4A4A4A;
}